<!-- Start nav -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="/"><img src="{{ site.baseurl }}/{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a  href="{{ site.baseurl }}/{% if page.is_default_language == false %}{{page.language}}/{% endif %}"> {{ site.data.i18n[page.language].home }}</a></li>
                <li><a  href="{{ site.baseurl }}/{% if page.is_default_language == false %}{{page.language}}/{% endif %}gallery">{{ site.data.i18n[page.language].gallery }}</a></li>
                <li><a  href="{{ site.baseurl }}/{% if page.is_default_language == false %}{{page.language}}/{% endif %}markdown-page">{{ site.data.i18n[page.language].page_markdown }}</a></li>
                {% if page.language != 'en' %}
                <li><a href="{{ site.baseurl }}/"><img alt="English" src="{{ site.baseurl }}/img/flags/en.png"/></a></li>
                {% endif %}
                {% if page.language != 'es' %}
                <li><a href="{{ site.baseurl }}/es/"><img alt="Español" src="{{ site.baseurl }}/img/flags/es.png"/></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End nav -->