/* POST
-------------------------------------------------*/

.post {
    .featured {
        min-height: 600px;
        background-size: cover;
        background: no-repeat;
        background-position: top center;
        .mask {
            width: 100%;
            height: 100%;
            min-height: inherit;
            background: rgba(0,0,0,0.5);
            .header {
                max-width: 1200px;
                margin: 0 auto;
                color: #fff;
                .title {
                    color: #fff;
                    text-decoration: none;
                    padding-top: 250px;
                    font-size: 3rem;
                }
                .time {
                    text-align: center;
                }         
            }
        }        
    }
    
    .article {
        margin-top: 50px;
        .pagination {
            width: 100%;
        }
        
        a.tag {
            font-size: 14px;
        }
        .entry  {
            p {
                font-size: 18px;
            }
            ul,ol {
                li {
                    font-size: 18px;
                }
            }
        }
        
    }

}