---
layout: default
---
<div class="post">
    {% if page.featured.large %}
    <div class="featured" style="background-image: url(/img/blog/large/{{ page.featured.large }});">
    {% else %}
    <div class="featured" style="background-image: url(/img/blog/large/no-image.png);">
    {% endif %}
        <div class="mask">
            <div class="header">
                <h1 class="section-title title">{{ page.title }}</h1>
                <div class="container post-info">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="col-xs-12">
                                <p>
                                    By {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}
                                </p>
                                <p>
                                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                                    <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
                                </p>                            
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article>
                    <p>&nbsp;</p>
                    <div class="entry">{{ content }}</div>
                    <p>&nbsp;</p>
                    <p>
                        <svg class="icon icon-leaf"><use xlink:href="#icon-leaf"></use></svg> <strong>Categories: </strong><span class="category">
                        {% for category in page.categories %}
                            <a href="/blog/category/#{{ category  }}">{{ category | capitalize }}</a>&nbsp; 
                        {% endfor %}
                    </p>
                    <p>&nbsp;</p>
                </article>                       
            </div>
        </div>
    </div>
</div>